<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ella Meng - {{title}}</title>
	<link href="../static/stylesheet/stylesheet.css" rel="stylesheet">
	<link href="../static/stylesheet/timeline.css" rel="stylesheet">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="hd-background"></div>
	<header class="container">
		<div class="row">
			<img class="col-xs-4 col-xs-offset-4 col-md-3 col-md-offset-0" src="../static/img/hd-logo.jpg">
			<nav class="hidden-xs visible-md col-md-8 pull-right text-right visible-lg col-lg-6">
				<a href = "about.html">ABOUT</a>
				<a href = "gallery.html">GALLERY</a>
				<a href = "resume.html">RESUME</a>
				<a href = "mail.html">MAIL ME</a>
			</nav>
		</div>
	</header>

	{% block content %}
	
	{% endblock %}
	<!-- <footer> Copyright &copy; Ella Meng.</footer> -->
	
	<footer>
		<div class="container bottomsection">
			<div class="row">
				<p class="col-xs-12 col-md-6">Copyright &copy; Ella Meng.</p>
				<div class="col-xs-12 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
					<img src="../static/img/facebook.png">
					<img src="../static/img/linkedin.png">
					<img src="../static/img/googleplus.png">
				</div>
			</div>
		</div>
	</footer>
	
	
</body>
</html>