{%extends "templates/base.html" %}
{% block content %}   
		<div class="page_gallery" ></div>

		<section>
			
			<div class="container gallery">
				<div class="row">
					<div class="section-title col-xs-12">EDC-LAS VEGAS</div>
					<p class="col-xs-12 galleryintro">"Electric Daisy Carnival (EDC) is an electronic dance music festival hosted by the company Insomniac Events, which first produced EDC in 1997 in Los Angeles. It has since spread to various venues across the United States (California, Colorado, Florida, Illinois, Nevada, New Jersey, New York, Texas, Puerto Rico) as well as abroad, including Mexico, the UK, Brazil & Japan. The largest electronic music festival outside of Europe, EDC was dubbed the "American Ibiza" in 2010.
					In 2009, EDC became a two-day event, and in 2011 a three-day event in Las Vegas that drew 230,000 people. In 2015 it drew more than 400,000 over 3-days (134,000 per day)."[1]</p>
					<p class="col-xs-12 galleryintro">The 2016 Las Vegas festival will take place on June 17 through 19. I will be there. <a href="http://lasvegas.electricdaisycarnival.com" class="introlink" target="_blank"> Are you going with me? </a></p>
					

					<a class="col-xs-12 cd-read-more" href="https://en.wikipedia.org/wiki/Electric_Daisy_Carnival" target="_blank">[1] Reference: Wikipedia</a>

					<iframe width="560" height="315" src="https://www.youtube.com/embed/s7qPuq0ZmO4" allowfullscreen id="video"></iframe>
					
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4"  onmouseover="over1()" onmouseout="out1()">
						<img src = "static/img/1.jpg" alt="edc1" />
						<div class="img_text" id="text1">
							<div class="img_div_text">ARE</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over2()" onmouseout="out2()">
						<img src = "static/img/2.jpg" alt="edc2" />
						<div class="img_text" id="text2">
							<div class="img_div_text">YOU</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over3()" onmouseout="out3()">
						<img src = "static/img/3.jpg" alt="edc3" />
						<div class="img_text" id="text3">
							<div class="img_div_text">GOING</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over4()" onmouseout="out4()">
						<img src = "static/img/4.jpg" alt="edc4"/>
						<div class="img_text" id="text4">
							<div class="img_div_text">TO</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over5()" onmouseout="out5()">
						<img src = "static/img/5.jpg" alt="edc5"/>
						<div class="img_text" id="text5">
							<div class="img_div_text">THE</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over6()" onmouseout="out6()">
						<img src = "static/img/6.jpg" alt="edc6"/>
						<div class="img_text" id="text6">
							<div class="img_div_text">CRAZZY</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over7()" onmouseout="out7()">
						<img src = "static/img/7.jpg" alt="edc7"/>
						<div class="img_text" id="text7">
							<div class="img_div_text">NIGHT</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over8()" onmouseout="out8()">
						<img src = "static/img/8.jpg" alt="edc8"/>
						<div class="img_text" id="text8">
							<div class="img_div_text">WITH</div>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" onmouseover="over9()" onmouseout="out9()">
						<img src = "static/img/9.jpg" alt="edc9"/>
						<div class="img_text" id="text9">
							<div class="img_div_text">ME</div>
						</div>
					</div>


					

					<!-- <img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/1.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/2.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/3.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/4.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/5.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/6.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/7.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/8.jpg" />
					<img class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-lg-4" src = "static/img/9.jpg" /> -->
					
				</div>
			</div>
		</section>>
	{% endblock %}