{%extends "templates/base.html" %}
{% block content %}
	<div class="page_mail" ></div>

	<section>   
		<div class="container">
			<div class="row">


				<!-- <div class="section-title col-xs-12 col-md-6">Contact Me</div> -->
				<!-- <P class="col-xs-12 col-md-3" id="myemail">Email: qiongyu@umich.edu</P> -->
			

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.9050352980357!2d-83.74241488501171!3d42.28055047919239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x883cae40746ad639%3A0x9777deab36d450cd!2sSchool+of+Information+at+the+University+of+Michigan!5e0!3m2!1sen!2sus!4v1459381258046" style="border:0" allowfullscreen class="col-xs-12 col-md-5  map"></iframe>



				
 


				<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
					
						<label for="subject">Subject:</label><br />
						<input id="subject" class="input" name="subject" type="text" value="" size="30" /><br />
					
					
						<label for="email">Your email:</label><br />
						<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
				
					
						<label for="message">Your message:</label><br />
						<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
					
					<input id="submit_button" type="submit" value="Send email" />
				</form>						


  				

			</div>
		</div>
	</section>
	{% endblock %}